

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #fff;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 10%; */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.65);
  z-index: 10;
  border-radius: 0 0 10px 10px
}

.title {
  margin-left: 2%;
}

.navList {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin-right: 2rem;
}

.navListItems {
  margin-right: 2rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: #9775fa;
}

.navListItems:hover,
.navListItems:active {
  color: #845ef7;
  cursor: pointer;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}

.cupcake {
  height: 60px;
  width: 60px;
  color: white;
  padding-left: 20px
}