body {
	height: 100%;
	margin: 0;
}
.section-hero {
	height: 100vh;
	display: flex;
	flex-direction: row;
}

.hero-left {
	width: 50%;
}

.hero-right {
	width: 50%;
	align-items: center;
	display: flex;
	justify-content: center;
}

.store {
	width: 500px;
	height: 300px;
}
