body {
	height: 100%;
	margin: 0;
}

.section-hero {
	position: relative;
	z-index: 1;
}

.bg {
	height: 100vh;
	background-image: linear-gradient(
			rgba(255, 255, 255, 0.5),
			rgba(255, 255, 255, 0.5)
		),
		url('../images/mac.jpg');
	background-size: cover;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: row;
	z-index: -1;
}

.title {
	font-size: 112px;
	margin: 0;
	color: #200d5a;
	text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15);
}

#anitaTitle {
	margin-top: -15px;
}

h1 {
	animation: fadeInAnimation ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.summary {
	animation: fadeInAnimation ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.button {
	animation: fadeInAnimation ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.hero-left {
	/* width: 50%; */
	align-items: left;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 2.5rem;
	margin-left: 10rem;
}

.hero-right {
	width: 50%;
	align-items: center;
	display: flex;
	justify-content: center;
}

.summary {
	font-weight: 300;
	margin-bottom: 32px;
	font-size: 32px;
	color: #200d5a;
}

.button {
	cursor: pointer;
	font: inherit;
	border: none;
	width: 200px;
	height: 50px;
	background-color: #9775fa;
	color: #fff;
	padding: 0.75rem 3rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 25px;
	font-weight: bold;
	margin-right: 5%;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-top: 56px;
}

.button:hover,
.button:active {
	background-color: #5f3dc4;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
}
