.form {
  margin: 1rem 0;
  height: 14rem;
  overflow: auto;
}

.control {
  margin-bottom: 0.25rem;
}

.control label {
  font-weight: bold;
  /* margin-bottom: 0.25rem; */
  display: block;
}

.control input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 20rem;
  max-width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.actions button {
  background-color: white;
  font: inherit;
  color: #9775fa;
  cursor: pointer;
  border: 1px solid #9775fa;
  border-radius: 25px;
  padding: 0.5rem 2rem; 
  
}

.actions button:hover,
.actions button:active {
   background-color: #5f3dc4;
 border-color: #9775fa;
  color: white;
    transition: all .4s ease;
  -webkit-transition: all .4s ease;
}

.actions .submit {
  border: 1px solid #9775fa;
  background-color: #9775fa;
  color: white;
  
}

.actions .submit:hover,
.actions .submit:active {
  background-color: #5f3dc4;
    transition: all .4s ease;
  -webkit-transition: all .4s ease;
}

.invalid label {
  color: #ca3e51;
}

.invalid input {
  border-color: #aa0b20;
  background-color: #ffeff1;
}